header{
    margin: 20px;
    color: white;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
span{
    color: #f716d1;
    /* text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 40px #FF1177,
            0 0 70px #FF1177,
            0 0 80px #FF1177,
            0 0 100px #FF1177,
            0 0 150px #FF1177; */
}